.footer{
    background-color: var(--clr-primary);
    padding: 0;
}
.footer-text{
    padding: 3rem 0 3rem 0;
    color:var(--clr-secondary);
    margin-bottom:0;
}
.footer-text a{
    padding-left: 0.5rem;
    color: var(--clr-call-to-action-btn);
    text-decoration: none;
    list-style: none;
}