:root{
    --clr-primary: #1f2937;
    --clr-secondary: #e5e7eb;
    --clr-logo-text-color: #f9faf8;
    --clr-call-to-action-btn: #3882f6;
    --clr-info-header-color:#1f2937;
    --clr-quote-bg-color:#e5e7eb;
}