@font-face {
    font-family: "roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
:root{
    --clr-primary: #1f2937;
    --clr-secondary: #e5e7eb;
    --clr-logo-text-color: #f9faf8;
    --clr-call-to-action-btn: #3882f6;
    --clr-info-header-color:#1f2937;
    --clr-quote-bg-color:#e5e7eb;
}
body, section, div, h1, h2, h3, h4,h5 p, a{
    font-family: "roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero{
    background-color: var(--clr-primary);
    height: 550px
}
.nav-list{
    background-color: var(--clr-primary);
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-item{
    list-style: none;
    margin-right: 2rem;
}
#nav-item a{
    text-decoration:none;
    font-size:18px;
    color: var(--clr-secondary);
} 
#nav-item:first-child{
    margin-right: auto;
    margin-left: 6rem;
}
#nav-item:last-child{
    margin-right: 7rem;
}
#logo-text{
    color:var(--clr-logo-text-color)!important;
    font-size:24px!important;
} 
.hero-main{
    margin: 0;
    padding: 0rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero-text:first-child{
    margin-right: auto;
    margin-left: 7rem;
}
.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: var(--clr-logo-text-color);
    margin: 0;
    line-height:3.5rem;
}
.hero-secondary-text{
    font-size: 18px;
    font-weight: normal;
    color: var(--clr-secondary);
    line-height:1.6rem;
}
.hero-image{
    margin-right: 5rem;
    margin-top: 3rem;
}
#sign-up-action{
    background: var(--clr-call-to-action-btn);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    color: var(--clr-secondary);
    font-size: 18px;  
}
#sign-up-action:hover{
    background: var(--clr-call-to-action-btn);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: var(--clr-secondary);
    font-size: 18px;
    border: 2px solid var(--clr-secondary);
    background: var(--clr-primary);
}
#consultation-action{
    background: var(--clr-call-to-action-btn);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    color: var(--clr-secondary);
    font-size: 18px;
}
#consultation-action:hover{
    background: var(--clr-call-to-action-btn);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: var(--clr-secondary);
    font-size: 18px;
    border: 2px solid var(--clr-secondary);
    background: var(--clr-primary);
}
.info-header{
    font-size: 36px;
    color: var(--clr-info-header-color);
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.main-info{
    background-color: white;
    box-shadow: 0px 0px 10px var(--secondary);
    margin-left: 6rem;
    margin-right: 5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.info-content{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 4.5rem;
    font-size:15px;
}
.quote-main{
    background-color: var(--clr-quote-bg-color);
    height: 400px;
}
#quote{
    font-weight: 100;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 36px;
    color: var(--clr-info-header-color);
    font-style: italic;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
}
.person{
    float: right;
    margin-left: 7rem;
    margin-right: 7rem;
}
.call-back-main{
    background-color: var(--clr-call-to-action-btn);
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    margin-bottom:5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    border-radius: 5px;;
}
.call-back-sub:first-child{
    margin-right: auto;
    margin-left: 6rem;

}
.call-back-btn-main:last-child{
    margin-right: 7rem;
}
#call-back-action{
    background: var(--clr-call-to-action-btn);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: 2px solid var(--clr-quote-bg-color);
    color: var(--clr-secondary);
    font-size: 18px;
}
.call-back-text{
    font-size: 24px;
    color: var(--clr-quote-bg-color);
    font-weight: 600;
}
.call-back-description{
    color: var(--clr-quote-bg-color);
    font-weight: lighter;
}
.footer{
    background-color: var(--clr-primary);
}
.footer-text{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color:var(--clr-secondary);
}
.footer-text a{
    padding-left: 0.5rem;
    color: var(--clr-call-to-action-btn);
    text-decoration: none;
    list-style: none;
}